<div class="header-inner">
  <div class="col8">
    <h1><a href="{{site.baseurl}}/">Datascapes &amp; the Informal City</a></h1>
    {% if page.url != '/about' %}<a href="{{site.baseurl}}/about/">{% endif %}about{% if page.url != '/about' %}</a>{% endif %}
  </div>
  <div class="margin0 col3">
    <p><a href="https://architecture.barnard.edu/">Barnard + Columbia Architecture</a><br />
    Special Topics | ARCH V3312, Section 2</p>
    <p>Professor <a href="http://www.leahmeisterlin.com/">Leah Meisterlin</a></p>
  </div>
</div>