---
layout: default
section: project
---
{% if page.special == 1 %}
  <div id="map"></div>
{% else %}
  <iframe width='100%' height='750px' frameBorder='0' src="{{page.iframe_src}}"></iframe>
{% endif %}

<div class="project_info">
  <div class="heading">
    <h1>{{page.title}}</h1>
    <p>{{page.authors}}</p>
  </div>
  <div class="project_text">
    <a class="lb" href="/datascapes/img/{{page.map_img_l}}" data-lightbox="map_img_l">
      <img src="/datascapes/img/{{page.map_img_s}}">
    </a>
    {{content}}
  </div>

  <!-- <div class="col5 margin1 project_image"> -->
</div>
